<tr data-price="16.00" id="isuxihu" class="item-row">
    <td id="ikejjau" class="item-cell">
        <div class="item-info" id="id1u25z">
            <img src="../images/cart-checkout/pasta.jpg" alt="Truffle Tagliatelle" class="item-thumbnail"
                 id="iegv98b" />
            <div class="item-text" id="iwm4iof">
                <p class="item-name" id="ixsrx6t">
                    <!-- Item name -->
                </p>
                <p class="item-description" id="iv60zfn">
                    <!-- Item description -->
                </p>
                <p class="item-modifiers" id="ij1ed66">
                    <!-- Add-ons -->
                </p>
            </div>
        </div>
    </td>
    <td id="itz0iyk" class="qty-cell">
        <div class="qty-control" id="in7wxhn">
            <button type="button" aria-label="Decrease quantity" class="qty-decrease" id="ic9q75s">
                <img src="../icons/cart-checkout/minus.svg" alt="" class="minus-icon" id="ikptfsb" />
            </button>
            <input type="number" min="1" value="1" aria-label="Quantity" class="qty-input" id="ixzwz6b" />
            <button type="button" aria-label="Increase quantity" class="qty-increase" id="it8pkj4">
                <img src="../icons/cart-checkout/plus.svg" alt="" class="plus-icon" id="icanvqx" />
            </button>
        </div>
    </td>
    <td id="iecf5rx" class="price-cell">
        <!-- Item price -->
    </td>
    <td id="iyuwt3r" class="subtotal-cell">
        <!-- Item subtotal, e.g., -->
    </td>
</tr>