<template id="footer-template">
    <footer class="footer" id="ikdb8u">
        <div id="idqqkg" class="footer-container">
            <div id="isenbc" class="footer-brand-block">
                <div id="ixhycm" class="footer-brand-row">
                    <div class="footer-brand-mark" id="i73dsb">MdS</div>
                    <span class="footer-brand-name" id="i36gam">Maison di Sapori</span>
                </div>
                <p class="footer-brand-text" id="i1ixnr">Sharing the joy of Italian flavors with our community since
                    2010.</p>
                <div class="footer-socials" id="ih2ufx">
                    <a href="#" class="gjs-t-link footer-social-link" id="i985df">
                        <img alt="Instagram" src="../icons/home/instagram.svg" class="footer-social-icon" id="iem4ub" />
                    </a>
                    <a href="#" class="gjs-t-link footer-social-link" id="i806gl">
                        <img alt="Facebook" src="../icons/home/facebook.svg" class="footer-social-icon" id="izpyjx" />
                    </a>
                    <a href="#" class="gjs-t-link footer-social-link" id="i03u9w">
                        <img alt="Twitter" src="../icons/home/twitter.svg" class="footer-social-icon" id="iv1dkv" />
                    </a>
                </div>
            </div>
            <div id="ijehoi" class="footer-links-block">
                <h4 class="footer-links-title" id="i86uba">Explore</h4>
                <a href="./menu.html" class="gjs-t-link footer-link-item" id="ihtuj1">Menu</a>
                <a href="./reservations.html" class="gjs-t-link footer-link-item" id="ie8a7s">Reservations</a>
                <a href="./cart-checkout.html" id="itc4c8" class="gjs-t-link footer-link-item">Cart</a>
                <a href="./order-confirmation-status.html" class="gjs-t-link footer-link-item" id="ias5w2">Order
                    Status</a>
            </div>
            <div id="ied1dh" class="footer-contact-block">
                <h4 class="footer-contact-title" id="iu0djf">Contact</h4>
                <span class="footer-contact-item" id="iz1j5m">+1 (555) 012-3456</span>
                <span class="footer-contact-item" id="iwz7np">hello@maisondisapori.com</span>
                <span class="footer-contact-item" id="ig12y7">Mon–Sun 11:00–22:00</span>
            </div>
            <div id="iakbm7" class="footer-cta-block">
                <h4 class="footer-cta-title" id="ivc5de">Join our newsletter</h4>
                <div class="footer-input-group" id="iqxk1l">
                    <input type="email" placeholder="Enter your email" class="gjs-t-border footer-email-input"
                        id="igtwoh" />
                    <button type="button" class="gjs-t-button footer-subscribe-button" id="i4gekk">Subscribe</button>
                </div>
                <p class="footer-consent-text" id="in468z">By subscribing, you agree to receive promotional emails. You
                    can
                    unsubscribe at any time.</p>
            </div>
        </div>
        <div id="intjx4" class="footer-bottom">
            <div id="i9rm0j" class="footer-bottom-container">
                <span class="footer-copyright" id="ixmut1">© 2025 Maison di Sapori. All rights reserved.</span>
                <div id="i0spms" class="footer-legal-links">
                    <a href="#" class="gjs-t-link footer-legal-link" id="iicups">Privacy</a>
                    <a href="#" class="gjs-t-link footer-legal-link" id="it40gk">Terms</a>
                </div>
            </div>
        </div>
    </footer>
</template>