<template id="header-template">
    <header class="header-navbar" id="isu4w">
        <div class="navbar-container" id="ianog">
            <a href="homepage.html" class="gjs-t-link navbar-brand" id="ibb5h">
                <div class="brand-mark" id="i6r9s">MdS</div>
                <span class="brand-name" id="iyksh">Maison di Sapori</span>
            </a>
            <nav class="navbar-links" id="ixcva">
                <a href="homepage.html" class="gjs-t-link navbar-link" id="i0b0o">
                    <img alt="Home" src="../icons/home/house.svg" class="navbar-icon" id="i2x7z" />
                    Home
                </a>
                <a href="menu.html" class="gjs-t-link navbar-link" id="i4fmj">
                    <img alt="Menu" src="../icons/home/square-menu.svg" class="navbar-icon" id="i0x7e" />
                    Menu
                </a>
                <a href="html/reservations.html" class="gjs-t-link navbar-link" id="ijq7j">
                    <img alt="Reservation" src="../icons/home/calendar-fold.svg" class="navbar-icon" id="i5x0l" />
                    Reservations
                </a>
                <a href="html/cart-checkout.html" class="gjs-t-link navbar-link" id="idlu8">
                    <img alt="Cart" src="../icons/home/shopping-cart.svg" class="navbar-icon" id="iaze2" />
                    Cart
                </a>
                <a href="order-confirmation-status.html" class="gjs-t-link navbar-link" id="ig3kh">
                    <img alt="Order Status" src="../icons/home/package.svg" class="navbar-icon" id="i3f4o" />
                    Order Status
                </a>
            </nav>
        </div>
    </header>
</template>