<article class="gjs-t-border menu-card" id="it21np">
    <div class="menu-image-wrapper" id="iq1hdf">
        <img src="bruschetta_[INPUT]" alt="Bruschetta" class="menu-image" id="i0hx7l" />
    </div>
    <div class="menu-content" id="ikzrmf">
        <div class="item-header" id="indg3k">
            <h4 class="item-name" id="ijj7ql">

                <!-- Item Name -->

            </h4>
            <span class="item-price" id="io8zto">$8.50</span>
        </div>
        <p class="item-description" id="iwxk6i">

            <!-- Item Description -->

        </p>
        <div class="item-tags" id="ie6nqh">
      <span class="gjs-t-border tag" id="i3pfg3">

        <!-- Item Tag, e.g., vegetarian, gluten-free, spicy,... -->

      </span>
        </div>
        <div class="item-actions" id="i25zfj">
            <button type="button"
                    data-item="{&quot;id&quot;:&quot;item1&quot;,&quot;name&quot;:&quot;Bruschetta&quot;,&quot;price&quot;:8.5,&quot;category&quot;:&quot;appetizers&quot;,&quot;tags&quot;:[&quot;vegetarian&quot;]}"
                    class="gjs-t-border customize-button" id="ir0rcb">Customize</button>
            <button type="button"
                    data-add="{&quot;id&quot;:&quot;item1&quot;,&quot;name&quot;:&quot;Bruschetta&quot;,&quot;price&quot;:8.5,&quot;category&quot;:&quot;appetizers&quot;,&quot;tags&quot;:[&quot;vegetarian&quot;]}"
                    class="gjs-t-button add-button" id="iunpsz">Add to Cart</button>
        </div>
    </div>
</article>